@charset  "UTH-8";

/* MOBILE VERSION */

* {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {

    font-size: medium;
    box-sizing: border-box;
    margin-top: 20px;
    

}
 
html {

    width: 100vw;
    height: 100vh;
}

body {

    background: rgb(183, 147, 147) url(../assets/Imagen-medias/fundo3.jpg) repeat;
    background-size: cover;
    background-position: center center ;

}

main {

    background-color: rgb(243, 202, 222);
    width: 90vw;
    margin: auto;
    margin-top: 100px;
    border-radius:  10px;
    padding: 10px;
}

h1 {
    font-size: 15mm;
    text-align:  center;
    margin-top: 30px;
    color: rgb(9, 12, 109);
    text-shadow:  2px 2px 2px black;


}

h2 {

    font-size-adjust: initial;
    color: aliceblue;
    box-shadow: 2%;
}


img{
    
    display: block;
    margin: auto;
}

img#phone { display:flex}
img#tablet { display: flex;}
img#tele { display: flex;}


